// $cd-btn: yellow;
// $cd-txt: red;

/*
.btn {
    background: $cd-btn;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    // box-sizing: content-box;
    

    // Animations come in strong here boi

    border-radius: 10rem;
    transform: scale(1); // scale stick to ()
    transition-property: transform;
    transition-duration: 300ms;

    // Shortcut : transition : transform 400ms = same result as 2L above

    &:hover {
        transform: scale(1.20);
    }
}
*/

body {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: 1rem;;
    padding: 1rem;
    color: white;
    border: 4px solid white;
    transition: all 400ms;
    &.box1:hover {
        background: white;
        color: black;
    }
    &.box2:hover {
        background: blue;
        color: red;
        transform: scale(1.15);
    }
    &.box3:hover {
        background: green;
        color: yellow;
        transform: translate(50px);
    }
}

.card {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 375px; // coupled with Overflow hidden this enables a frame around the picture with W/H
    height: 550px;
    background: white;
    transition: all 400ms;
    border-radius: 1em;
    &.card:hover {
        transform: scale(1.7);
        opacity: .7;
    }
    .card-img {
    object-fit: contain;
    
    }

  
    .date {
        display:flex;
        flex-direction: column;
        text-align: center;
        top:15px;
        right: 15px;
        position: absolute;
        z-index: 10;
        background: red;
        border-radius: 50%;
        padding: 1.2rem 1.5rem;
        color: white;
        font-size:1.5rem;
        font-weight: 900;
        word-wrap: break-word;
    }
}